body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

h1 {
    color: #333;
}

.subtitle {
    color: gray;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #1f4037;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #145a4a;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background: #e6f9f0;
    border-radius: 8px;
    font-weight: bold;
}


.form-group {
    text-align: left;
    margin-bottom: 12px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

/* dropdown styling */
select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* 2 column grid for last 4 inputs */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 15px;
}

/* full width numeric fields */
.full {
    width: 100%;
}